.App {
  display: flex;
  font-family: sans-serif;
  text-align: center;
  margin: 6rem 0;
  padding: auto;
  color: white;
}
.container {
  padding: 20px;
  margin: auto;
  width: 60%;
  background-color: #585858;
}

body {
  background-color: #C4C4C4;
  font-family: arial;
  font-size: 20px;
  color: white;
}

input {
  margin-left: 10px;
  font-size: 20px;
  font-family: arial;
}

table {
  text-align: center;
  border-spacing: 3px;
}

td.instrument {
  text-align: right;
}

